/* Navbar Stuff */
#how_to_download_movies{
  height: 32em;
}
#navbar {
  border-radius: 0px 0px 5px 5px;
}
#genresContent {
  height: 33rem;
}
#navbar a {
  font-size: 100%;
}
#search-movies {
  padding-left: 18%;
}
#ads_desktopSize{
  display: none;
}

/* Content Stuff */
.movie-items {
  width: 24%;
  height: 35em;
}
#movie-image {
  height: 20rem;
}
#movie-info {
  font-size: 65%;
}
.screenShots {
  border-radius: 6px;
  height: 30rem;
}
.screenShots .card-body {
  padding: 1%;
}
.screenShots img {
  border-radius: 6px;
}
#showTrailer {
  height: 33.5rem;
}
