 /* Navbar Stuff */
 #logo img {
    width: 25%;
  }
  #how_to_download_movies{
    height: 17em;
  }
  #navbar {
    border-radius: 0px 0px 3px 3px;
  }
  #genresContent {
    height: 18rem;
  }
  #navbar a {
    font-size: 80%;
  }

  /* Content Stuff */
  #movie-items {
    height: 30em;
  }
  #movie-image {
    height: 15rem;
  }
  .screenShots {
    border-radius: 3px;
    height: 26rem;
  }
  .screenShots img {
    border-radius: 3px;
  }
  #showTrailer {
    height: 21rem;
  }